# Momentum Indicators

## Ichimoku Cloud lines

In [6]:
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Tickers=["tsla"]
df=yf.download(Tickers, start="2021-05-23", end="2023-05-23")

def calc_ichimoku(df):
    # Tenkan-sen (Conversion Line)
    df['Conversion Line'] = (df['High'].rolling(window=9).max() +
                        df['Low'].rolling(window=9).min()) / 2

    # Kijun-sen (Base Line)
    df['Base line'] = (df['High'].rolling(window=26).max() +
                       df['Low'].rolling(window=26).min()) / 2

    # Senkou Span A (Leading Span A)
    df['Leading Span A'] = ((df['Conversion Line'] + df['Base line']) / 2).shift(26)

    # Senkou Span B (Leading Span B)
    df['Leading Span B'] = ((df['High'].rolling(window=52).max() +
                            df['Low'].rolling(window=52).min()) / 2).shift(26)

    return df

data=calc_ichimoku(df)
dict={'Conversion Line':data['Conversion Line'],'Base line':data['Base line'],'Leading Span A':data['Leading Span A'],'Leading Span B':data['Leading Span B']}
ichimoku=pd.DataFrame(dict)
ichimoku

[*********************100%***********************]  1 of 1 completed

            Conversion Line   Base line  Leading Span A  Leading Span B
Date
2021-05-24              NaN         NaN             NaN             NaN
2021-05-25              NaN         NaN             NaN             NaN
2021-05-26              NaN         NaN             NaN             NaN
2021-05-27              NaN         NaN             NaN             NaN
2021-05-28              NaN         NaN             NaN             NaN
...                     ...         ...             ...             ...
2023-05-16       168.514999  171.974998      188.899998      177.860001
2023-05-17       170.445000  171.974998      188.899998      186.204994
2023-05-18       170.865005  171.029999      188.899998      189.409996
2023-05-19       173.150002  171.029999      188.899998      190.214996
2023-05-22       176.835007  171.029999      187.625000      190.214996

[503 rows x 4 columns]